.mainContainer {
    display: grid;
    height: 100vh;
    margin: 20px;
    justify-content: start;
    grid-gap: 1rem;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(9, 1fr);
}

.dialogContainer {
    display: grid;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    margin: 20px;
    justify-content: start;
    grid-gap: 1rem;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(15, 1fr);
}

.headerContainer {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    grid-column: 1/16;
    grid-row: 1/2;
}

.logo {
    grid-column: 1/3;
    grid-row: 1/2;
    justify-self: start;
    align-self: center;
    margin-left: 20px;
}

.logo img {
    width: 259px;
    height: 58px;
}

.locationLanguage {
    grid-column: 12/14;
    grid-row: 1/2;
    margin-left: 20px;
    justify-self: start;
    align-self: center;
    display: flex;
}

.login {
    grid-column: 14/16;
    grid-row: 1/2;
    margin-left: 30px;
    justify-self: start;
    align-self: center;
    display: flex;
}

.locationLanguage img {
    height: 40px;
    border-radius: 25px;
}

.locationLanguage span {
    margin-left: 15px;
    align-self: center;
}

.login img {
    height: 40px;
    border-radius: 25px;
}

.login span {
    margin-left: 15px;
    align-self: center;
}

.menuContainer {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    margin-left: -20px;
    margin-right: -20px;
    background-color: #008bef;
    grid-column: 1/16;
    grid-row: 2/3;
    margin-bottom: 40px;
}

.menu {
    grid-column: 1/3;
    grid-row: 1/2;
    justify-self: start;
    align-self: center;
    display: flex;
    margin-left: 20px;
}

.menu:hover {
    background-color: grey;
    cursor: pointer;
}

.menu img {
    height: 40px;
}

.menu span {
    margin-left: 10px;
    align-self: center;
    font-size: 24px;
}

.book {
    grid-column: 8/10;
    grid-row: 1/2;
    justify-self: start;
    align-self: center;
    display: flex;
}

.book:hover {
    background-color: grey;
    cursor: pointer;
}

.book img {
    height: 40px;
    align-self: center;
}

.book span {
    margin-left: 10px;
    align-self: center;
    font-size: 24px;
}

.search {
    grid-column: 14/16;
    grid-row: 1/2;
    justify-self: start;
    align-self: center;
    display: flex;
}

.search:hover {
    background-color: grey;
    cursor: pointer;
}

.search img {
    height: 40px;
    align-self: center;
}

.search span {
    margin-left: 10px;
    align-self: center;
    font-size: 24px;
}

.heroBannerContainer {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    margin-left: -20px;
    margin-right: -20px;
    grid-column: 1/16;
    grid-row: 2/9;
}

.bookCardContainer {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    grid-column: 4/13;
    grid-row: 2/7;
    margin-top: 100px;
    margin-bottom: 105px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
}

.bookTypeContainer {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    grid-column: 2/5;
    grid-row: 2/3;
}

.bookTypeSpan {
    justify-content: start;
    display: flex;
    grid-column: 1/4;
    grid-row: 1/2;
    margin-bottom: 2.2rem;
}
.bookTypeSpan span {
    text-align: start;
    margin-bottom: 2.2rem;
    width: 100%;
    font-size: 24px;
}

.bookTypeButton {
    display: flex;
    align-items: flex-end;
    grid-column: 1/4;
    grid-row: 1/2;
}

.bookTypeButton button {
    text-align: start;
    width: 100%;
    font-size: 24px;
    height: 56px;
    border-radius: 15px;
    border: 0px;
    background-color: white;
    transition:
        background-color 0.3s ease,
        border-color 0.3s ease;
}

.bookTypeButton button:hover {
    background-color: grey;
    cursor: pointer;
}

.bookFromToContainer {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    grid-column: 6/9;
    grid-row: 2/3;
}

.bookFromSpan {
    display: flex;
    grid-column: 1/3;
    grid-row: 1/2;
    margin-right: 25%;
    margin-bottom: 2.2rem;
}
.bookFromSpan span {
    text-align: start;
    width: 100%;
    font-size: 24px;
    margin-bottom: 2.2rem;
}

.bookFromButton {
    display: flex;
    grid-column: 1/3;
    grid-row: 2/3;
    align-self: end;
    margin-right: 25%;
}

.bookFromButton button {
    justyify-content: start;
    text-align: start;
    width: 100%;
    font-size: 24px;
    height: 56px;
    border-radius: 15px 0px 0px 15px;
    border: 0px;
    background-color: white;
    transition:
        background-color 0.3s ease,
        border-color 0.3s ease;
}

.bookFromButton button:hover {
    background-color: grey;
    cursor: pointer;
}

.bookToSpan {
    display: flex;
    align-items: start;
    grid-column: 2/4;
    grid-row: 1/2;
    margin-left: 25%;
    margin-bottom: 2.2rem;
}
.bookToSpan span {
    text-align: start;
    width: 100%;
    font-size: 24px;
    margin-bottom: 2.2rem;
}

.bookToButton {
    display: flex;
    align-items: end;
    grid-column: 2/4;
    grid-row: 1/2;
    margin-left: 25%;
}

.bookToButton button {
    text-align: end;
    width: 100%;
    font-size: 24px;
    height: 56px;
    border-radius: 0px 15px 15px 0px;
    border: 0px;
    background-color: white;
    transition:
        background-color 0.3s ease,
        border-color 0.3s ease;
}

.bookToButton button:hover {
    background-color: grey;
    cursor: pointer;
}

.bookFromToArrow {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: end;
}

.bookFromToArrow img {
    height: 56px;
}

.bookPassengerContainer {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    grid-column: 2/5;
    grid-row: 4/5;
}

.bookPassengerSpan {
    justify-content: start;
    display: flex;
    grid-column: 1/4;
    grid-row: 1/2;
    margin-bottom: 2.2rem;
}
.bookPassengerSpan span {
    text-align: start;
    margin-bottom: 2.2rem;
    width: 100%;
    font-size: 24px;
}

.bookPassengerButton {
    display: flex;
    grid-column: 1/4;
    grid-row: 1/2;
}

.bookPassengerButton button {
    align-self: flex-end;
    text-align: start;
    width: 100%;
    font-size: 24px;
    height: 56px;
    border-radius: 15px;
    border: 0px;
    background-color: white;
    transition:
        background-color 0.3s ease,
        border-color 0.3s ease;
}

.bookPassengerButton button:hover {
    background-color: grey;
    cursor: pointer;
}

.bookDepartReturnContainer {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    grid-column: 6/9;
    grid-row: 4/5;
}

.bookDepartOnlySpan {
    display: flex;
    grid-column: 1/4;
    grid-row: 1/2;
    margin-bottom: 2.2rem;
}
.bookDepartOnlySpan span {
    align-self: start;
    text-align: start;
    width: 100%;
    font-size: 24px;
    margin-bottom: 2.2rem;
}

.bookDepartOnlyButton {
    display: flex;
    grid-column: 1/4;
    grid-row: 1/2;
}

.bookDepartOnlyButton button {
    align-self: flex-end;
    text-align: start;
    width: 100%;
    font-size: 24px;
    height: 56px;
    border-radius: 15px;
    border: 0px;
    background-color: white;
    transition:
        background-color 0.3s ease,
        border-color 0.3s ease;
}

.bookDepartOnlyButton button:hover {
    background-color: grey;
    cursor: pointer;
}

.bookDepartSpan {
    display: flex;
    grid-column: 1/3;
    grid-row: 1/2;
    margin-right: 25%;
    margin-bottom: 2.2rem;
}
.bookDepartSpan span {
    align-self: start;
    text-align: start;
    width: 100%;
    font-size: 24px;
    margin-bottom: 2.2rem;
}

.bookDepartButton {
    display: flex;
    grid-column: 1/3;
    grid-row: 1/2;
    margin-right: 25%;
}

.bookDepartButton button {
    align-self: flex-end;
    text-align: start;
    width: 100%;
    font-size: 24px;
    height: 56px;
    border-radius: 15px 0px 0px 15px;
    border: 0px;
    background-color: white;
    transition:
        background-color 0.3s ease,
        border-color 0.3s ease;
}

.bookDepartButton button:hover {
    background-color: grey;
    cursor: pointer;
}

.bookReturnSpan {
    display: flex;
    grid-column: 2/4;
    grid-row: 1/2;
    margin-left: 25%;
    margin-bottom: 2.2rem;
}
.bookReturnSpan span {
    align-self: flex-start;
    text-align: start;
    width: 100%;
    font-size: 24px;
    margin-bottom: 2.2rem;
}

.bookReturnButton {
    display: flex;
    grid-column: 2/4;
    grid-row: 2/3;
    margin-left: 25%;
}

.bookReturnButton button {
    align-self: flex-end;
    text-align: center;
    width: 100%;
    font-size: 24px;
    height: 56px;
    border-radius: 0px 15px 15px 0px;
    border: 0px;
    background-color: white;
    transition:
        background-color 0.3s ease,
        border-color 0.3s ease;
}

.bookReturnButton button:hover {
    background-color: grey;
    cursor: pointer;
}

.lowerMenuContainer {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    margin-left: -20px;
    margin-right: -20px;
    background-color: #008bef;
    grid-column: 1/16;
    grid-row: 8/9;
    margin-top: 40px;
}

.manage {
    grid-column: 1/3;
    grid-row: 1/2;
    justify-self: start;
    align-self: center;
    display: flex;
    margin-left: 20px;
}

.manage img {
    height: 40px;
}

.manage span {
    margin-left: 10px;
    align-self: center;
    font-size: 24px;
}

.checkIn {
    grid-column: 8/10;
    grid-row: 1/2;
    justify-self: start;
    align-self: center;
    display: flex;
}

.checkIn img {
    height: 40px;
    align-self: center;
}

.checkIn span {
    margin-left: 10px;
    align-self: center;
    font-size: 24px;
}

.statusCheck {
    grid-column: 14/16;
    grid-row: 1/2;
    justify-self: start;
    align-self: center;
    display: flex;
}

.statusCheck img {
    height: 40px;
    align-self: center;
}

.statusCheck span {
    margin-left: 10px;
    align-self: center;
    font-size: 24px;
}

.overlayContainer {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    margin: -20px;
    background-color: rgba(0, 139, 239, 0.2);
    grid-column: 1/31;
    grid-row: 1/16;
}
.typeCardContainer {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    background-color: black;
    border-radius: 15px;
    grid-column: 7/24;
    grid-row: 6/11;
}

.typeCardHeader {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    grid-column: 1/18;
    grid-row: 1/2;
}

.typeCardTitle {
    display: flex;
    justify-content: start;
    grid-column: 1/5;
    grid-row: 1/2;
}

.typeCardTitle span {
    align-self: center;
    width: 100%;
    font-size: 30px;
}

.typeCardCloseButton {
    display: flex;
    justify-content: center;
    grid-column: 16/18;
    grid-row: 1/2;
}

.typeCardCloseButton button {
    align-self: center;
    width: 50%;
    border-radius: 25px;
    border: 0px;
    background-color: grey;
    font-size: 30px;
    transition:
        background-color 0.3s ease,
        border-color 0.3s ease;
}

.typeCardCloseButton button:hover {
    background-color: darkgrey;
    cursor: pointer;
}

.typeCardContentContainer {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    grid-column: 1/18;
    grid-row: 2/5;
}

.typeCardContent {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    grid-column: 1/18;
}

.typeCardContent:hover {
    background-color: grey; /* Light gray background on hover */
    cursor: pointer;
}

.typeCardContentLabel {
    display: flex;
    justify-content: center;
    grid-column: 1/5;
}

.typeCardContentLabel span {
    font-size: 24px;
}

.typeCardContentBox {
    display: flex;
    justify-content: center;
    grid-column: 16/18;
}

.typeCardContentBox span {
    font-size: 24px;
}

.typeCardContentDone {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 8/11;
    grid-row: 5/6;
}

.typeCardContentDone button {
    font-size: 24px;
    border-radius: 15px;
    border: 0px;
    background-color: grey;
    transition:
        background-color 0.3s ease,
        border-color 0.3s ease;
}

.typeCardContentDone button:hover {
    background-color: darkgrey; /* Light gray background on hover */
    cursor: pointer;
}

.cityCardContainer {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    background-color: black;
    border-radius: 15px;
    grid-column: 8/23;
    grid-row: 6/11;
}

.cityCardHeader {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    grid-column: 1/16;
    grid-row: 1/2;
}

.cityCardTitle {
    display: flex;
    align-items: start;
    justify-content: start;
    grid-column: 2/8;
    grid-row: 1/2;
}

.cityCardTitle span {
    font-size: 30px;
}

.cityCardCloseButton {
    display: flex;
    justify-content: center;
    grid-column: 14/16;
    grid-row: 1/2;
}

.cityCardCloseButton button {
    align-self: center;
    width: 50%;
    border-radius: 25px;
    border: 0px;
    background-color: grey;
    font-size: 30px;
    transition:
        background-color 0.3s ease,
        border-color 0.3s ease;
}

.cityCardCloseButton button:hover {
    background-color: darkgrey;
    cursor: pointer;
}

.cityCardContentContainer {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    grid-column: 2/8;
    grid-row: 2/5;
}

.cityCardContent {
    display: grid;
    grid-column: 1/18;
    grid-row: 1/4;
}

.cityCardContent option {
    height: 30px;
    font-size: 24px;
}

.cityCardContent input {
    height: 30px;
    font-size: 24px;
}

.cityCardContent option:hover {
    background-color: grey; /* Light gray background on hover */
    cursor: pointer;
}

.cityCardContentDone {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 8/11;
    grid-row: 5/6;
}

.cityCardContentDone button {
    font-size: 24px;
    border-radius: 15px;
    border: 0px;
    background-color: grey;
    transition:
        background-color 0.3s ease,
        border-color 0.3s ease;
}

.cityCardContentDone button:hover {
    background-color: darkgrey; /* Light gray background on hover */
    cursor: pointer;
}

.passengerCardContainer {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    background-color: black;
    border-radius: 15px;
    grid-column: 7/24;
    grid-row: 5/14;
}

.passengerCardHeader {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    grid-column: 1/18;
    grid-row: 1/2;
}

.passengerCardTitle {
    display: flex;
    justify-content: start;
    align-items: start;
    grid-column: 2/8;
    grid-row: 1/2;
}

.passengerCardTitle span {
    font-size: 30px;
}

.passengerCardCloseButton {
    display: flex;
    justify-content: center;
    grid-column: 16/18;
    grid-row: 1/2;
}

.passengerCardCloseButton button {
    align-self: center;
    width: 50%;
    border-radius: 25px;
    border: 0px;
    background-color: grey;
    font-size: 30px;
    transition:
        background-color 0.3s ease,
        border-color 0.3s ease;
}

.passengerCardCloseButton button:hover {
    background-color: darkgrey;
    cursor: pointer;
}

.passengerCardContentContainer {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    grid-column: 1/18;
    grid-row: 2/6;
}

.passengerCardContent {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    grid-column: 1/18;
}

.passengerCardContentLabel {
    display: flex;
    align-items: start;
    justify-content: start;
    grid-column: 2/8;
}

.passengerCardContentLabelDescription {
    display: flex;
    justify-content: start;
    align-items: end;
    grid-column: 2/8;
}

.passengerCardContentLabel span {
    align-self: start;
    font-size: 24px;
}

.passengerCardContentLabelDescription span {
    font-size: 16px;
}

.passengerCardContentButtonsContainer {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    grid-column: 12/18;
}

.passengerCardContentRemoveButton {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/3;
}

.passengerCardContentCountLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 3/5;
}

.passengerCardContentAddButton {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 5/7;
}

.passengerCardContentDone {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 8/11;
    grid-row: 9/10;
}

.passengerCardContentDone button {
    font-size: 24px;
    border-radius: 15px;
    border: 0px;
    background-color: grey;
    transition:
        background-color 0.3s ease,
        border-color 0.3s ease;
}

.passengerCardContentDone button:hover {
    background-color: darkgrey; /* Light gray background on hover */
    cursor: pointer;
}

.removePassengerButton {
    width: 50px;
    height: 100%;
    border-radius: 25px;
    border: 0.5px solid white;
}

.removePassengerButtonActive {
    width: 50px;
    height: 100%;
    border-radius: 25px;
    border: 0.5px solid white;
}

.removePassengerButtonActive:hover {
    background-color: grey;
    cursor: pointer;
}

.addPassengerButton {
    width: 50px;
    height: 100%;
    border-radius: 25px;
    border: 0.5px solid white;
}

.addPassengerButton:hover {
    background-color: grey;
    cursor: pointer;
}

.classCardContentContainer {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    grid-column: 1/18;
    grid-row: 6/9;
}

.classCardContent {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    grid-column: 1/18;
    border-top: 0.25rem solid;
}

.classCardContent:hover {
    background-color: grey; /* Light gray background on hover */
    cursor: pointer;
}

.classCardContentLabel {
    display: flex;
    justify-content: start;
    grid-column: 2/8;
}

.classCardContentLabel span {
    font-size: 24px;
}

.classCardContentBox {
    display: flex;
    justify-content: center;
    grid-column: 16/18;
}

.classCardContentBox span {
    font-size: 24px;
}

.classCardContentBox input[type='checkbox'] {
    width: 25px;
    height: 25px;
    border-radius: 15px;
}

@media screen and (max-width: 1024px) {
    .mainContainer {
        grid-template-columns: repeat(15, 1fr);
        grid-template-rows: repeat(15, 1fr);
    }
    .bookCardContainer {
        margin-top: 0px;
        margin-bottom: 0px;
        grid-row: 2/12;
        grid-column: 3/14;
    }
    .bookTypeContainer {
        grid-column: 2/11;
        grid-row: 1/2;
    }
    .bookTypeSpan {
        grid-column: 1/10;
        grid-row: 1/2;
    }

    .bookTypeButton {
        grid-column: 1/10;
        grid-row: 1/2;
    }

    .bookFromToContainer {
        grid-column: 2/11;
        grid-row: 2/4;
    }

    .bookFromSpan {
        grid-column: 1/10;
        grid-row: 1/2;
        margin-right: 0%;
    }

    .bookFromButton {
        grid-column: 1/10;
        grid-row: 1/2;
        margin-right: 0%;
    }

    .bookFromButton button {
        border-radius: 15px;
    }

    .bookToSpan {
        grid-column: 1/10;
        grid-row: 2/3;
        margin-left: 0%;
    }

    .bookToButton {
        grid-column: 1/10;
        grid-row: 2/3;
        margin-left: 0%;
    }

    .bookToButton button {
        text-align: start;
        border-radius: 15px;
    }

    .bookFromToArrow {
        display: none;
    }

    .bookPassengerContainer {
        grid-column: 2/11;
        grid-row: 4/5;
    }

    .bookPassengerSpan {
        grid-column: 1/10;
        grid-row: 1/2;
    }

    .bookPassengerButton {
        grid-column: 1/10;
        grid-row: 1/2;
    }

    .bookDepartReturnContainer {
        grid-column: 2/11;
        grid-row: 5/7;
    }

    .bookDepartOnlySpan {
        grid-column: 1/10;
        grid-row: 1/2;
    }

    .bookDepartOnlyButton {
        grid-column: 1/10;
        grid-row: 1/2;
    }

    .heroBannerContainer {
        grid-column: 1/16;
        grid-row: 4/16;
    }

    .bookDepartSpan {
        grid-column: 1/10;
        grid-row: 1/2;
        margin-right: 0%;
    }

    .bookDepartButton {
        grid-column: 1/10;
        grid-row: 1/2;
        margin-right: 0%;
    }

    .bookDepartButton button {
        align-self: flex-end;
        text-align: start;
        border-radius: 15px;
    }

    .bookReturnSpan {
        grid-column: 1/10;
        grid-row: 2/3;
        margin-left: 0%;
    }

    .bookReturnButton {
        grid-column: 1/10;
        grid-row: 2/3;
        margin-left: 0%;
    }

    .bookReturnButton button {
        text-align: start;
        border-radius: 15px;
    }

    .menuContainer {
        grid-column: 1/16;
        grid-row: 4/5;
    }

    .menu {
        grid-column: 1/3;
        grid-row: 1/2;
        margin: 0px;
    }

    .book {
        grid-column: 7/10;
        grid-row: 1/2;
    }

    .search {
        grid-column: 10/16;
        grid-row: 1/2;
        margin: 0px;
        justify-self: end;
    }

    .headerContainer {
        grid-column: 1/16;
        grid-row: 1/4;
    }

    .logo {
        grid-column: 1/16;
        grid-row: 1/2;
        margin-left: 0px;
        justify-self: center;
    }

    .locationLanguage {
        grid-column: 1/8;
        grid-row: 2/3;
        margin-left: 0px;
    }

    .login {
        grid-column: 8/16;
        grid-row: 2/3;
        margin-left: 0px;
        justify-self: end;
    }

    .lowerMenuContainer {
        grid-column: 1/16;
        grid-row: 15/16;
    }

    .manage {
        grid-column: 1/5;
        justify-self: start;
        grid-row: 1/2;
        margin-left: 0px;
    }

    .checkIn {
        grid-column: 5/10;
        grid-row: 1/2;
        justify-self: center;
    }

    .statusCheck {
        grid-column: 10/16;
        grid-row: 1/2;
        justify-self: end;
    }
}
